:host {
  display: block;
}

#dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar canvas";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

#header {
  grid-area: header;
  padding: 0 2rem;
  background-color: black;
  color: white;
}

#sidebar {
  grid-area: sidebar;
}

#canvas {
  grid-area: canvas;
}